<div class="center jumbotron">
  <h2>全国対戦！怒りポエム！！</h2>
  <% if logged_in? %>
  <div class="row">
    <div class="col-md-8">
      <h3>最近の怒り</h3>
      <%= render 'shared/feed' %>
    </div>
    <%= link_to "怒りをぶつける", post_path, class: "btn btn-lg btn-primary" %>

  </div>
</div>

  <div class="col-md-8">
    <h3>全国ランキング</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ユーザ名</th>
          <th>点数</th>
          <th>ポエム</th>
        </tr>
      </thead>
      <tbody>
        <% @feed_items.each do |f| %>
          <tr>
            <td><%= link_to gravatar_for(current_user, size: 20), current_user %> <%= f.user.name %></td>
            <td><%= f.keisan %></td>
            <td><%= f.content %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @feed_items, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
  </div>
  <% else %>

  <%= link_to "怒りをぶつける", poem_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>
<% end %>
